

.hb-space-top-l {
  margin-top: $size-l;
}
.hb-space-top-s {
  margin-top: $size-s;
}

.hb-space-bottom-s {
  margin-bottom: $size-s;
}
.hb-space-left-s {
  margin-left: $size-s;
}

.horiz-bar {
  height: 2rem;
  display: flex;

  &__element {
      margin-right: 1px;
      min-width: 1px;
  }
}

.horiz-bar-legend {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &__element {
      width: 100%;
      display: flex;
  }

  &__circle {
      height: $size-l;
      width: $size-l;
      border-radius: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .horiz-bar-legend__element {
      width: 50%;
      b {
          color: $color-black;
          font-weight: $font-weight-bold;
          font-size: medium;
      }
  }
}